:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --main-color: #274a25;
  --accent-color: #126d0b;
  --light-color: white;
  --gradient-color: linear-gradient(
    to right,
    rgb(182, 244, 146),
    rgb(51, 139, 147)
  );
  --gradient-reverse-color: linear-gradient(
    to right,
    rgb(51, 139, 147),
    rgb(182, 244, 146)
  );
}

@media (min-width: 600px) {
  h1 {
    font-size: 10px;
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px;
  background: var(--gradient-color);
  border-radius: 20px;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  border-radius: 10px;
}

#header {
  display: flex;
  position: fixed;
  width: 600px;
  width: 100%;
  top: 0;
  z-index: 100;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: rgb(73, 167, 176);
  z-index: 100;
  border-radius: 20px;
}

.logo {
  flex: 1 30px;
}
.header-img {
  height: 100%;
  max-width: 80px;
}

#nav-bar {
  max-width: 520px;
  flex: 3 300px;
  margin-right: 300px;
}

#main {
  margin-top: 70px;
  max-width: 600px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  text-align: left;
  margin: auto 1em;
}

.nav-link:last-child {
  margin: auto 0 auto 1em;
}

.nav-link:first-child {
  margin: auto 1em auto 0;
}

.nav-link:hover {
  color: var(--accent-color);
}

h1 {
  text-align: center;
  color: var(--main-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-size: 48px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

h2 {
  text-align: center;
  line-height: 28px;
  padding: 15px;
  font-size: 18px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: var(--main-color);
}

p {
  line-height: 1.5;
  font-size: 13px;
  margin: 20 0 10px;
}

button {
  display: block;
  margin: 20px auto;
  background-color: var(--accent-color);
  color: var(--light-color);
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.learn-more {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 12px;
}

.learn-more:hover {
  text-decoration: underline;
}

.faq {
  border: 1px solid #126d0b;
  padding: 10px;
  border-radius: 4px;
}

.footer {
  text-align: center;
}

.contacts {
  text-align: center;
  font-size: 12px;
}

.contacts-color {
  color: var(--main-color);
  font-style: italic;
}

.video {
  text-align: center;
  padding: 20px;
}

.about__h1 {
  font-size: 24px;
}

#form {
  display: block;
  margin: 20px auto;
  background-color: var(--accent-color);
  color: var(--light-color);
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  font-weight: bold;
  text-align: center;
  max-width: 250px;
}

#email,
#submit {
  border-radius: 6px;
  text-align: center;
  padding: 5px 5px;
  margin-top: 5px;
}
